@import 'bootstrap/dist/css/bootstrap';
// .navbar-brand {
//     font-size: 4rem;
// }
.search-area {
    padding-top: 50px;
}

.no-right-padding {
    paddiing-right: 0 !important;
}

.no-left-padding {
    paddiing-left: 0 !important;
}