<div class="row">
  <div class="col-">
    <div class="badge bg-dark text-light time-block"> Date Time
      <span class="badge bg-secondary"><%= Time.zone.now.strftime("%k:%M %d-%b-%y") %></span>
      EST
    </div>
  </div>
</div>
